{% extends 'dos_alamos/base.html' %}
{% load crispy_forms_tags %}
{% block content %} 
    </header>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/6627896/pexels-photo-6627896.jpeg" class="d-block w-100" alt=>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/7108253/pexels-photo-7108253.jpeg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-photo/clinical-reception-with-waiting-room-facility-lobby-registration-counter-used-patients-with-medical-appointments-empty-reception-desk-health-center-checkup-visits_482257-51247.jpg?w=900&t=st=1683826320~exp=1683826920~hmac=e9406c65fe10d9813178be09ed2d968b00c05bbf5dc54c00bc7629bb550ca2f2" class="d-block w-100" alt="Jardinero">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
        <hr>
        <div class="row" id="nosotros">
            <h2 class="text-center fs-1 text-success">Nosotros</h2>
            

            <p class="fs-5 text-center">Adipisicing pariatur amet aute anim ut magna laboris commodo Lorem mollit ullamco 
                reprehenderit sint. Fugiat exercitation enim sunt pariatur exercitation irure ipsum eu commodo 
                elit in. Sit esse sint veniam veniam laboris consequat consectetur. Cillum dolor dolor minim 
                labore fugiat laborum.
            <br>
            <br>
            Eu non velit commodo duis dolore ipsum esse fugiat consectetur in fugiat fugiat pariatur. Mollit 
            ea cillum in esse qui veniam proident ipsum ullamco cupidatat fugiat nulla. Consectetur esse 
            cupidatat sint dolore ut ut ea sunt dolor. Laboris aute exercitation mollit sit est mollit aliqua
             sit id. Id commodo aute eu tempor Lorem labore. Adipisicing dolor ullamco velit dolor enim sint
              labore nisi aliquip pariatur cillum aliquip.
            <br>
            <br>
            Officia nostrud duis sunt ut sit aute quis dolore occaecat voluptate pariatur non. Adipisicing 
            eiusmod anim ut eiusmod enim sunt ullamco consequat occaecat ullamco. Non qui fugiat veniam eu 
            veniam cillum. Tempor ea dolor adipisicing in qui quis.
            <br>
            <br>
            Velit ad labore adipisicing culpa exercitation voluptate adipisicing deserunt reprehenderit 
            laboris laborum duis. Elit proident excepteur cillum id adipisicing ex consequat duis mollit cillum. 
            Laborum ad laborum fugiat tempor incididunt do amet amet duis. Anim duis consequat labore mollit
             Laboris in magna quis aute mollit et.</p>
             
        </div>
        <hr>
        {% endblock %} 