{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Hostal Doña Clarita</title>
  </head>
  <body>
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <h2  style="color: black;" class=" text-center texto-negro fw-bolder">
                Hostal Doña Clarita
              </h2>

              <h3 class="text-center">Iniciar Sesión</h3>
              <hr />
              <form action="" method="post">
                {% csrf_token %} {{ form | crispy }}

                <p class="mt-3 text-center fs-6">
                  No tengo cuenta
                  <a class="" href="{% url 'registro' %}">Registrarme</a>
                </p>

                <div class="d-flex justify-content-between">
                  <a class="mt-3 btn btn-outline-dark" href="{% url 'home' %}"
                    >Volver al inicio</a
                  >
                  <input
                    type="submit"
                    class="mt-3 btn btn-dark float-right"
                    value="Iniciar Sesión"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
