{% extends 'dos_alamos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container col-12 col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">Agendar Hora</h1>
    </div>
    <div class="card-body">
      
      
      <form method="get" id="formulario">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.especialidad.id_for_label }}"></label>
          {{ form.especialidad|as_crispy_field }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Buscar Médicos</button>
      </form>
   
      <form method="get" id="formulario-medicos">
        {% csrf_token %}
        <div class="form-group mt-3">
          <label for="id_medico">Seleccionar Médico:</label>
          <select id="id_medico" name="medico" class="form-control">
            {% for medico in medicos_especialidad %}
            <option value="{{ medico.id }}">{{ medico.nombres }} {{ medico.apellidos }}</option>
            {% endfor %}
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Mostrar Fecha y Hora Disponibles</button>
      </form>
      
      {% if fechas_horas_disponibles %}
<div class="form-group mt-3">
  <table class="table table-striped">
    <thead class="table">
      <tr class="table-primary">
        <th>N°</th>
        <th>Médico</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Reservar</th>
      </tr>
    </thead>
    <tbody>
      {% for i in fechas_horas_disponibles %}
      <tr>
        <form method="POST" action="{% url 'confirmar_r' %}">
          {% csrf_token %}
          <td>{{ forloop.counter }}</td>
          <td>{{ i.medico.nombres}} {{ i.medico.apellidos}}</td>
          <td>{{ i.fecha }}</td>
          <td>{{ i.hora }}</td>
          <td>
            <input type="hidden" name="hora_disponible" value="{{ i.id }}">
            <input id="medico" name="medico" type="hidden" value="{{ i.medico.nombres}} {{ i.medico.apellidos}}">
            <input id="hora" name="hora" type="hidden"  value="{{ i.hora }}">
            <input id="dia" name="dia" type="hidden"  value="{{ i.fecha }}">
            <button type="submit" class="btn btn-primary">Reservar</button>
        </td>
      </form>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endif %}

    

      <div class="d-flex justify-content-end mt-3">
        <a href="{% url 'read_r' %}" class="btn btn-dark">Ver Horas</a>
      </div>

      {% if mensaje %}
      <div class="alert alert-success mt-3" role="alert">
        {{ mensaje }}
      </div>
      {% endif %}
    </div>
    <div class="card-footer text-muted">
      <!-- Footer content here -->
    </div>
  </div>
</div>
{% endblock %}