{% extends 'hostal/base.html' %} {% block content %}
<div class="container col-12 col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">Confirmar Reserva</h1>
    </div>
    <br>
    {% if reserva %}
    <div class="card-body">
      <h3>Confirmar Reserva:</h3>
      <p><strong>Médico:</strong> {{ reserva.medico }}</p>
      <p><strong>Fecha:</strong> {{ reserva.dia }}</p>
      <p><strong>Hora:</strong> {{ reserva.hora }}</p>
      <p><strong>Usuario:</strong> {{ reserva.usuario }}</p>
      <!-- reserva.id % url 'confirmar_r_post'  %  -->
      <form method="POST" action="{% url 'confirmar_r_post' %}">
        {% csrf_token %}
        <input
          type="hidden"
          name="hora_disponible"
          value="{{reserva.hora_id}}"
        />
        <button type="submit" class="btn btn-success">Confirmar</button>
       
      </form>
      
      {% else %}
      {% if mensaje %}
      <center><h4 class="alert alert-success">{{ mensaje }}</h4></center>
      {% endif %}
      <div class=" text-center">
      <a href="{% url 'read_r' %}" class=" btn btn-success fw-bold">Ver reserva de horas</a>
      
      </div>
      <br>
      {% endif %}
    
      </div>
  </div>
</div>
{% endblock %}
