{% extends 'hostal/base.html' %}
{% load crispy_forms_tags %}
{% block content %} 

<div>
    <br>
    <div class="container, col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
    
        <center><h1>Modificar Reserva</h1></center>
      </div>
      <div class="card-body">
        <form   method="POST" id="formulario">
          {% csrf_token %}
          
          {{form|crispy}}
          
         
         
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'read_m' %}"><button class="btn btn-dark">Ver médicos</button></a>
            &nbsp;
            <input type="submit" value="Editar" class="btn btn-success">
        </div>
      </form>
     
        {{mensaje}}
       </div>
      <div class="card-footer text-muted"></div>
        
    </div> 
    
      
    </div>
  </div>
  <br>
  

{% endblock  %}