{% extends 'hostal/base.html' %}
{% load crispy_forms_tags %}
{% block content %} 

    </header>
      <div>
        <div class="container">
        {% if reserva %}

            {% if user.username == 'paula' or user.username == 'admin' %}
            <h1 class="card-header" style="text-align: center;" > Gestión de reserva de horas </h1>
            {% else %}
            <h1 class="card-header" style="text-align: center;"> Mis reservas de hora </h1>
            {% endif %}
            <table class="table" style="border: 1px solid black;">
                <div class="alert alert-success" role="alert"></div>
                <thead>
                    <tr>
                        <th class="scope"> #</th>
                        <th class="scope"> FECHA </th>
                        <th class="scope"> PACIENTE </th>
                        <th class="scope"> NOMBRE MEDICO </th>
                        <th class="scope"> ESPECIALIDAD </th>
                        <th class="scope"> HORA </th>
                        {% if user.username == 'paula' or user.username == 'admin' %}
                        <th class="scope"> BORRAR</th>
                        <!--<th class="scope"> EDITAR</th>-->
                        {% endif %}


                    </tr>
                </thead>
                <tbody>
                    {%for i in reserva%}

                    <tr>
                        <td>⋇</td>
                        <td>{{i.info.dia}}</td>
                        <td>{{i.usuario.username}}</td>
                        <td>{{i.info.medico.nombres}}</td>
                        <td>{{i.info.medico.especialidad}}</td>
                        <td>{{i.info.hora}}</td>
                      
                        {% if user.username == 'paula' or user.username == 'admin' %}
                    
                        <td><a href="{% url 'eliminar_r' i.id %}">❌</a></td>
                        <!--  <td><a href="{% url 'modify_r' i.id %}"> ✎</a></td>-->
                        
                        {% endif %}
                
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <div>
                {% if user.username == 'paula' or user.username == 'admin' %}
                <h1 class="card-header" style="text-align: center;" > Gestión de reserva de horas </h1>
                {% else %}
                <h1 class="card-header" style="text-align: center;"> Mis reservas de hora </h1>
                {% endif %}
                
                <center><h4 class="alert alert-success">No hay Reserva de horas realizadas</h4></center>
            </div>
            {% endif %}
        </div>
{% endblock %} 